*{
    text-align: center;
    font-family: 'Acme', sans-serif;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

p{
    font-size: 20px;
}
h2{
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    /*overflow-x: hidden;*/
}

header{
    background-color: #004aad;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    margin: 0;
    z-index: 100;
    padding: 1em;
}

#navUp{
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: -0.5em;
    margin-left: -2em;
}

#navUp > ul > li{
    width: 33,3%;
    height: 100%;
    display: inline-block;
    font-size: 40px;
    margin-inline-end: 15%;
    font-weight: bold;  
}

#navUp > ul > li > a{
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    transition: color 0.5s ease;
}#navUp > ul > li > a:hover{
    color: #ffbd59;
}

#navUp > ul{
    width: 100%;
    height: 100%;
    margin-left: 9%;
}

.main{
    width: auto;
    height: auto;
    margin-top: 8%;
    flex-direction: column;
    padding: 1em;
}

#navDown{
    width: 100%;
    height: 20%;
    margin-bottom: 15%;
}

#navDown > ul > li{
    margin-bottom: 20px;
    transition: color 0.5s ease;
}#navDown > ul > li > a:hover{
    color: #ffbd59;
}

#navDown > ul{
    float: left;
}

#search{
    float: right;
    margin-inline-end: 5%;
}

.title{
    width: 100%;
    height: 50%;
}

.title > img{
    width: 40%;
}

#titleIMG{
    margin-inline-start: 10%;
    float: left;
}

#logoIMG{
    margin-top: -10%;
    float: right;
}

#info{
    flex-direction: column;
    padding: 20px;
    width: autod;
}

#mainQuestion{
    font-size: 40px;
    margin-top: 30%;
    font-family: 'Permanent Marker', cursive;
}

.info{
    width: 100%;
    height: 20%;
    display: inline-block;
}

#mainInfo{
    align-items: center;
    width: 100%;
    height: auto;
}

#phrase{
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}

.addition{
    border: 2px solid black;
    border-radius: 1em;
    border-color: black;
    height: 230px;
    width: 40%;
    margin-inline-end: 5%;
    margin-inline-start: 5%;
    padding: 1em;
}

#vision{
    margin-top: -268px;
    float: right;
}

#media{
    height: auto;
    width: 100%;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    display: inline-block;
    background-color: #ffbd59;
    border-radius: 1em;
}

#mediaUp{
    justify-content: center;
}

#mediaUp > .addition{
    margin-top: 20%;
}

#mediaIMG{
    margin-top: 10%;
    margin-inline-start: 10%;
    height: 40%;
    width: 35%;
    float: left;
}

#mediaIMG + .addition{
    margin-top: 10%;
    float: right;
}

#media > div{
    width: 100%;
}

#mediaDown{
    padding-top: 10%;
    margin-top: 30%;
}

#mediaPart{
    width: auto;
    height: auto;
    margin-bottom: 5%;
    border: 0px;
}

#mediaPart > iframe{
    float: left;
    border-radius: 2em;
}

#mediaPart > audio{
    margin: 10%;
}

#games{
    height: auto;
    width: auto;
    margin-bottom: 5%;
    padding: 20px;
}
#games>ul>li{
    display: inline;
    margin-right: 50px;
    margin-top: 40px;
}
#games>ul>li>img{
    width: 400px;
    height: 300px;
}
#background{
    margin: 0;
    height: 800px;
    width: auto;
    padding-top: 10%;
}
.login{
    height: auto;
    background-color: white;
    width: 50%;
    padding: 2em;
    justify-content: center;
    border: 5px solid #ccc;
    margin: 2em;
    margin-left: 250px;
}
.login > form{
    background-color: white;
    justify-content: center;
    padding: 2em;
}
.login > form > label{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
    font-size: 20px;
}
.login > form > input{
    width: 200px;
    height: 20px;
    margin: 2em;
    margin-left: 0;
    border-radius: 5px;
    border-color: black;
}
.login > form > #submit{
    font-family: 'Permanent Marker', cursive;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #004aad;
    border-color: #004aad;
    font-size: large;
    transition: background-color 0.3s ease;
}
.login > form > #submit:hover{
    cursor: pointer;
    background-color: #ffbd59;
    border-color: #ffbd59;
    color: black;
}

footer{
    padding: 1em;
    background-color: #000000;
    color: wheat;
    width: auto;
    font-size: 1.2em;
}footer>a{
    color: wheat;
    transition: color 0.5s ease;
}footer>a:hover{
    color: #004aad;
}